<ion-header no-border>
    <ion-toolbar color="dark">
        <!-- Para poder colocar varios botones en el toolbar. Se colocan al principio "slot=start" -->
        <ion-buttons slot="start">
            <!-- Boton para ir atras.Solo ir para atras si hemos accedido a esta parte desde otra. 
            Si directamente cargamos la app con este componente entonces hay que forzar la ruta a la que volver -->
            <ion-back-button color="tertiary" defaultHref='/'></ion-back-button>
        </ion-buttons>
        <ion-title>{{lista.titulo}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">

    <ion-list color="dark">
        <ion-item color="dark">
            <ion-label position="floating">Nuevo Item</ion-label>
            <!-- Lo que se escriba en este input se va a guardar en la variable "nombreItem" de agregar.page.ts -->
            <ion-input type="text" [(ngModel)]="nombreItem" (keyup.enter)="agregarItem()"></ion-input>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-header color="dark" *ngIf="lista.items.length > 0">
            <!-- Aqui se muestran las tareas que se han ido añadiendo a la nueva lista -->
            <ion-label>Tareas por hacer</ion-label>
        </ion-header>

        <!-- El ion-item-sliding permite dotar al ion-item que haya dentro de una animacion de deslizar -->
        <ion-item-sliding class="animated fadeInDown" *ngFor="let item of lista.items; let i = index">
            <ion-item color="dark">
                <!-- Este ngModel comprueba si el item esta completado o no y puede modificar su valor si le damos a la casilla -->
                <!-- El (ionChange) es un metodo que salta cuando se modifica el ion -->
                <ion-checkbox slot="start" color="tertiary" [(ngModel)]="item.completado" (ionChange)="cambioCheck(item)"></ion-checkbox>
                <ion-label>{{item.desc}}</ion-label>
            </ion-item>
            <!-- Este será el boton que aparezca al deslizar. Aparecerá a la derecha (side=end) -->
            <ion-item-options side="end">
                <!-- Al hacer click en este objeto llama al metodo "borrar" de agregar.page.ts. Se le pasa por parametro el indice, es decir, el item en concreto en el que estamos dentro del bucle for -->
                <!-- color="danger" pone el boton en rojo -->
                <ion-item-option (click)="borrar(i)" color="danger">
                    <!-- Esto sera el icono que aparezca en el boton -->
                    <ion-icon slot="icon-only" name="close"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>


    </ion-list>

</ion-content>