<ion-header no-border>
    <ion-toolbar color="dark">
        <ion-title>
            Finalizadas
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">

    <!-- AQUI VA TODO EL CONTENIDO -->

    <!-- Se IMPORTA el html del componente listas.component del modulo components.module.ts. De esta forma se puede usar en varios componentes sin duplicar codigo-->
    <!-- Este terminada es el que esta en listas.component.ts -->
    <app-listas [terminada]="true"></app-listas>

</ion-content>