<!-- el "no-border" quita una raya de sombreado que aparecía debajo del header -->
<!-- Los colores y estilos estan establecidos en theme/variables.css -->
<ion-header no-border>
    <ion-toolbar color="dark">
        <ion-title>
            Pendientes
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <!-- AQUI VA TODO EL CONTENIDO -->

    <!-- Se IMPORTA el html del componente listas.component del modulo components.module.ts. De esta forma se puede usar en varios componentes sin duplicar codigo-->
    <!-- Este terminada es el que esta en listas.component.ts -->
    <app-listas [terminada]="false"></app-listas>

    <!-- Este es el boton con el + para agregar nuevas listas -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="tertiary" (click)="agregarLista()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>


</ion-content>